body {
    margin: 0;
}

body, html {
    background: url(../images/Forest\ \(6000x40000\).jpg);
    background-color: black;
    height: 100%;
    width: 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    color: red;
}

/* nav bar */
nav {
    background-color: black;
    position: relative;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    
}

li > a {
    color: #fff;
    text-decoration: none;
    
}

#nav {
    margin-left: 0 auto;
    font-size: 120%;
}

/* Home page trans box */
.trans-box {
    /* background-color: rgba(55, 55, 40, 0.6); */
    background-color: #274018;
    height: 150px;
    width: 400px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

